Repository l50/awsutils, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/dynamo, area/secretsmanager, area/ssm, area/ec2, area/s3, area/magefiles, area/asdf, area/go-mod-sum

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

area/dynamo:
  - "dynamo/*.go"

area/secretsmanager:
  - "secretsmanager/*.go"

area/ssm:
  - "ssm/*.go"

area/ec2:
  - "ec2/*.go"

area/s3:
  - "s3/*.go"

area/magefiles:
  - "magefiles/*"

area/asdf:
  - ".asdf"
  - ".tool-versions"

area/go-mod-sum:
  - "go.mod"
  - "go.sum"

Update go mods
  go.mod
  go.sum
Labels: area/go-mod-sum

Update ec2utils pkg docs
  ec2/README.md
Labels: none

Remove duplicate directory
  .github/renovate/renovate/autoMerge.json5
Labels: area/github

chore(deps): update github/codeql-action digest to 6ca1aa8
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update dependency python to v3.11.4
  .tool-versions
Labels: area/asdf

chore(deps): update renovatebot/github-action action to v39.0.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(deps): update module github.com/aws/aws-sdk-go to v1.44.309
  go.mod
  go.sum
Labels: area/go-mod-sum

chore(deps): update dependency ruby to v3.2.2
  .tool-versions
Labels: area/asdf

fix(deps): update module github.com/aws/aws-sdk-go to v1.44.309
  go.mod
  go.sum
Labels: area/go-mod-sum

chore(deps): update renovatebot/github-action action to v39.0.1
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 6ca1aa8
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update dependency python to v3.11.4
  .tool-versions
Labels: area/asdf

chore(deps): update dependency ruby to v3.2.2
  .tool-versions
Labels: area/asdf

Update go mods
  go.sum
Labels: area/go-mod-sum

Fixed renovate action
  .github/workflows/renovate.yaml
Labels: area/github

Update go
  .tool-versions
Labels: area/asdf

chore(deps): update github/codeql-action digest to 0ba4244
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update pre-commit hook pre-commit/mirrors-prettier to v3.0.1
  .pre-commit-config.yaml
Labels: area/pre-commit

fix(deps): update module github.com/aws/aws-sdk-go to v1.44.318
  go.mod
  go.sum
Labels: area/go-mod-sum

chore(deps): update pre-commit hook pre-commit/mirrors-prettier to v3.0.1
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update github/codeql-action digest to 0ba4244
  .github/workflows/codeql-analysis.yaml
Labels: area/github

fix(deps): update module github.com/aws/aws-sdk-go to v1.44.318
  go.mod
  go.sum
Labels: area/go-mod-sum

Add uniform mdstyle rules
  .hooks/linters/mdstyle.rb
Labels: area/pre-commit

chore(deps): update actions/setup-go digest to 93397be
  .github/workflows/goreleaser.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 5b6282e
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update goreleaser/goreleaser-action digest to 3fa32b8
  .github/workflows/goreleaser.yaml
Labels: area/github

chore(deps): update returntocorp/semgrep-action digest to 483865d
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update shogo82148/actions-goveralls digest to 7b1bd28
  .github/workflows/tests.yaml
Labels: area/github

fix(deps): update module github.com/aws/aws-sdk-go to v1.44.322
  go.mod
  go.sum
Labels: area/go-mod-sum

chore(deps): update dependency golang to v1.21.0
  .tool-versions
Labels: area/asdf

chore(deps): update dependency golang to v1.21.0
  .tool-versions
Labels: area/asdf

fix(deps): update module github.com/aws/aws-sdk-go to v1.44.322 (#354)
  go.mod
  go.sum
Labels: area/go-mod-sum

chore(deps): update shogo82148/actions-goveralls digest to 7b1bd28 (#353)
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update returntocorp/semgrep-action digest to 483865d (#352)
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update goreleaser/goreleaser-action digest to 3fa32b8 (#351)
  .github/workflows/goreleaser.yaml
Labels: area/github

chore(deps): update actions/setup-go digest to 93397be (#349)
  .github/workflows/goreleaser.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 5b6282e (#350)
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update returntocorp/semgrep-action digest to 0bdb313
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update actions/checkout digest to f43a0e5
  .github/workflows/goreleaser.yaml
Labels: area/github

chore(deps): update dependency python to v3.11.5
  .tool-versions
Labels: area/asdf
