Repository l50/awsutils, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/dynamo, area/secretsmanager, area/ssm, area/ec2, area/s3, area/magefiles, area/asdf, area/go-mod-sum

chore(deps): update github/codeql-action digest to 407ffaf
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 407ffaf (#422)
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update dependency golang to v1.21.4 (#418)
  .tool-versions
Labels: area/asdf

chore(deps): update github/codeql-action digest to c0d1daa
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update dependency golang to v1.21.5
  .tool-versions
Labels: area/asdf

chore(deps): update dependency python to v3.12.1
  .tool-versions
Labels: area/asdf

fix(deps): update module github.com/l50/goutils/v2 to v2.1.6
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles, area/go-mod-sum

chore(deps): update pre-commit hook adrienverge/yamllint to v1.33.0
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update pre-commit hook pre-commit/mirrors-prettier to v3.1.0
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update renovatebot/github-action action to v39.2.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(deps): update module github.com/aws/aws-sdk-go to v1.48.16
  go.mod
  go.sum
Labels: area/go-mod-sum

fix(deps): update module github.com/fatih/color to v1.16.0
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles

fix(deps): update module github.com/spf13/afero to v1.11.0
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles

chore(deps): update actions/labeler action to v5
  .github/workflows/meta-labeler.yaml
Labels: area/github

chore(deps): update actions/setup-go action to v5
  .github/workflows/goreleaser.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update actions/setup-python action to v5
  .github/workflows/pre-commit.yaml
Labels: area/github

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

area/dynamo:
  - "dynamo/*.go"

area/secretsmanager:
  - "secretsmanager/*.go"

area/ssm:
  - "ssm/*.go"

area/ec2:
  - "ec2/*.go"

area/s3:
  - "s3/*.go"

area/magefiles:
  - "magefiles/*"

area/asdf:
  - ".asdf"
  - ".tool-versions"

area/go-mod-sum:
  - "go.mod"
  - "go.sum"
