Repository l50/awsutils, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/dynamo, area/secretsmanager, area/ssm, area/ec2, area/s3, area/magefiles, area/asdf, area/go-mod-sum

fix(deps): update module github.com/google/uuid to v1.3.1
  go.mod
  go.sum
Labels: area/go-mod-sum

chore(deps): update actions/checkout action to v3.6.0
  .github/workflows/codeql-analysis.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update aws-actions/configure-aws-credentials action to v3
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 00e563e
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update pre-commit hook pre-commit/mirrors-prettier to v3.0.3
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update renovatebot/github-action action to v39.0.5
  .github/workflows/renovate.yaml
Labels: area/github

fix(deps): update module github.com/aws/aws-sdk-go to v1.45.2
  go.mod
  go.sum
Labels: area/go-mod-sum

chore(deps): update github/codeql-action digest to 00e563e (#357)
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update returntocorp/semgrep-action digest to 0bdb313 (#358)
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update aws-actions/configure-aws-credentials action to v3 (#367)
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update actions/checkout digest to f43a0e5 (#362)
  .github/workflows/goreleaser.yaml
Labels: area/github

chore(deps): update pre-commit hook pre-commit/mirrors-prettier to v3.0.3 (#359)
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update dependency python to v3.11.5 (#363)
  .tool-versions
Labels: area/asdf

chore(deps): update renovatebot/github-action action to v39.0.5 (#364)
  .github/workflows/renovate.yaml
Labels: area/github

fix(deps): update module github.com/google/uuid to v1.3.1 (#365)
  go.mod
  go.sum
Labels: area/go-mod-sum

chore(deps): update actions/checkout action to v3.6.0 (#366)
  .github/workflows/codeql-analysis.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update aws-actions/configure-aws-credentials digest to 50ac8dd
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update goreleaser/goreleaser-action digest to 5fdedb9
  .github/workflows/goreleaser.yaml
Labels: area/github

chore(deps): update returntocorp/semgrep-action digest to 5497961
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update goreleaser/goreleaser-action action to v5
  .github/workflows/goreleaser.yaml
Labels: area/github

fix(deps): update module github.com/spf13/afero to v1.10.0
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles

chore(deps): update actions/checkout action to v4
  .github/workflows/codeql-analysis.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update actions/setup-python digest to 65d7f2d
  .github/workflows/pre-commit.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 2cb752a
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update dependency golang to v1.21.2
  .tool-versions
Labels: area/asdf

chore(deps): update pre-commit hook codespell-project/codespell to v2.2.6
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update dependency python to v3.12.0
  .tool-versions
Labels: area/asdf

chore(deps): update pre-commit hook pre-commit/pre-commit-hooks to v4.5.0
  .pre-commit-config.yaml
Labels: area/pre-commit

fix(deps): update module github.com/aws/aws-sdk-go to v1.45.24
  go.mod
  go.sum
Labels: area/go-mod-sum

fix(deps): update module github.com/l50/goutils/v2 to v2.1.1
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles, area/go-mod-sum

chore(deps): update aws-actions/configure-aws-credentials action to v4
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update actions/setup-python digest to 65d7f2d (#385)
  .github/workflows/pre-commit.yaml
Labels: area/github

chore(deps): update aws-actions/configure-aws-credentials digest to 50ac8dd (#370)
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update goreleaser/goreleaser-action digest to 5fdedb9 (#371)
  .github/workflows/goreleaser.yaml
Labels: area/github

chore(deps): update pre-commit hook pre-commit/pre-commit-hooks to v4.5.0 (#388)
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update dependency python to v3.12.0 (#387)
  .tool-versions
Labels: area/asdf

fix(deps): update module github.com/spf13/afero to v1.10.0 (#382)
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles

chore(deps): update returntocorp/semgrep-action digest to 5497961 (#372)
  .github/workflows/semgrep.yaml
Labels: area/github

fix(deps): update module github.com/aws/aws-sdk-go to v1.45.24 (#374)
  go.mod
  go.sum
Labels: area/go-mod-sum

chore(deps): update pre-commit hook codespell-project/codespell to v2.2.6 (#386)
  .pre-commit-config.yaml
Labels: area/pre-commit

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

area/dynamo:
  - "dynamo/*.go"

area/secretsmanager:
  - "secretsmanager/*.go"

area/ssm:
  - "ssm/*.go"

area/ec2:
  - "ec2/*.go"

area/s3:
  - "s3/*.go"

area/magefiles:
  - "magefiles/*"

area/asdf:
  - ".asdf"
  - ".tool-versions"

area/go-mod-sum:
  - "go.mod"
  - "go.sum"
