Repository l50/awsutils, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/dynamo, area/secretsmanager, area/ssm, area/ec2, area/s3, area/magefiles, area/asdf, area/go-mod-sum

Fix bug in s3_test
  go.mod
  go.sum
  s3/s3_test.go
Labels: area/s3, area/go-mod-sum

chore(deps): update actions/setup-python digest to 61a6322
  .github/workflows/pre-commit.yaml
Labels: area/github

chore(deps): update actions/setup-python digest to 61a6322
  .github/workflows/pre-commit.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 489225d
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 489225d
  .github/workflows/codeql-analysis.yaml
Labels: area/github

Update to go 1.20.6
  .tool-versions
Labels: area/asdf

Fixed launch.json; update deps
  .vscode/launch.json
  .vscode/tasks.json
  go.mod
  go.sum
Labels: area/go-mod-sum

Refactor ec2 package; fix affected tests in ssm_test
  ec2/README.md
  ec2/ec2.go
  ec2/ec2_examples_test.go
  ec2/ec2_test.go
  ssm/ssm_test.go
Labels: area/ssm, area/ec2

Fix renovatebot
  .github/renovate/renovate/autoMerge.json5
  .github/workflows/renovate.yaml
  .hooks/go-licenses.sh
  .pre-commit-config.yaml
Labels: area/github, area/pre-commit

chore(deps): update github/codeql-action digest to 1813ca7
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update returntocorp/semgrep-action digest to 5f52783
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update dependency python to v3.11.4
  .tool-versions
Labels: area/asdf

fix(deps): update module github.com/aws/aws-sdk-go to v1.44.306
  go.mod
  go.sum
Labels: area/go-mod-sum

chore(deps): update actions/labeler action to v4.3.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

chore(deps): update dependency ruby to v3.2.2
  .tool-versions
Labels: area/asdf

fix(deps): update module github.com/l50/goutils/v2 to v2.0.9
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles, area/go-mod-sum

chore(deps): update github/codeql-action digest to 1813ca7
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update returntocorp/semgrep-action digest to 5f52783
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update dependency python to v3.11.4
  .tool-versions
Labels: area/asdf

fix(deps): update module github.com/aws/aws-sdk-go to v1.44.306
  go.mod
  go.sum
Labels: area/go-mod-sum

fix(deps): update module github.com/l50/goutils/v2 to v2.0.9
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles, area/go-mod-sum

chore(deps): update dependency ruby to v3.2.2
  .tool-versions
Labels: area/asdf

chore(deps): update actions/labeler action to v4.3.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

Add GetIamInstanceProfile() and test
  go.sum
  iam/iam.go
  iam/iam_test.go
Labels: area/go-mod-sum

Update deps
  .tool-versions
  magefiles/go.sum
Labels: area/magefiles, area/asdf

Linting
  iam/iam_test.go
Labels: none

Removed test for now
  iam/iam.go
  iam/iam_test.go
Labels: none

Add ListSecurityGroups()
  ec2/ec2.go
Labels: area/ec2

Add FindOverlyPermissiveInboundRules()
  ec2/ec2.go
Labels: area/ec2

Removed random print statement
  ec2/ec2.go
Labels: area/ec2

Add several new methods to ec2 package
  ec2/ec2.go
  ec2/ec2_test.go
Labels: area/ec2

Enhance EC2 resource validation and test coverage
  ec2/ec2.go
  ec2/ec2_test.go
  magefiles/README.md
  magefiles/magefile.go
Labels: area/ec2, area/magefiles

Update README for several utilities
  dynamo/README.md
  ec2/README.md
  iam/README.md
  s3/README.md
  secretsmanager/README.md
  ssm/README.md
Labels: none

Changed placement
  ec2/ec2.go
Labels: area/ec2

Fixed minor linting bug
  .hooks/generate-docs.sh
Labels: area/pre-commit

Linting for autogenerated docs
  ec2/README.md
  ec2/ec2.go
Labels: area/ec2

Update README.md
  README.md
Labels: none

Add CreateSecurityGroup() and DestroySecurityGroup()
  ec2/ec2.go
Labels: area/ec2

TestGetVPCID test working
  ec2/ec2.go
  ec2/ec2_test.go
  go.mod
  go.sum
Labels: area/ec2, area/go-mod-sum

Refactor CreateSecurityGroup and DestroySecurityGroup functions
  ec2/ec2.go
  ec2/ec2_test.go
Labels: area/ec2

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

area/dynamo:
  - "dynamo/*.go"

area/secretsmanager:
  - "secretsmanager/*.go"

area/ssm:
  - "ssm/*.go"

area/ec2:
  - "ec2/*.go"

area/s3:
  - "s3/*.go"

area/magefiles:
  - "magefiles/*"

area/asdf:
  - ".asdf"
  - ".tool-versions"

area/go-mod-sum:
  - "go.mod"
  - "go.sum"
