Repository l50/awsutils, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/dynamo, area/secretsmanager, area/ssm, area/ec2, area/s3, area/magefiles, area/asdf, area/go-mod-sum

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

area/dynamo:
  - "dynamo/*.go"

area/secretsmanager:
  - "secretsmanager/*.go"

area/ssm:
  - "ssm/*.go"

area/ec2:
  - "ec2/*.go"

area/s3:
  - "s3/*.go"

area/magefiles:
  - "magefiles/*"

area/asdf:
  - ".asdf"
  - ".tool-versions"

area/go-mod-sum:
  - "go.mod"
  - "go.sum"

chore(deps): update github/codeql-action digest to 2cb752a (#378)
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update dependency golang to v1.21.3
  .tool-versions
Labels: area/asdf

chore(deps): update aws-actions/configure-aws-credentials action to v4
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update goreleaser/goreleaser-action action to v5
  .github/workflows/goreleaser.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 49abf0b
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update renovatebot/github-action action to v39.1.0
  .github/workflows/renovate.yaml
Labels: area/github

fix(deps): update module github.com/aws/aws-sdk-go to v1.46.1
  go.mod
  go.sum
Labels: area/go-mod-sum

fix(deps): update module github.com/l50/goutils/v2 to v2.1.4
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles, area/go-mod-sum

chore(deps): update actions/checkout action to v4
  .github/workflows/codeql-analysis.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update renovatebot/github-action action to v39.1.0 (#398)
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 49abf0b (#390)
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update dependency golang to v1.21.3 (#391)
  .tool-versions
Labels: area/asdf

fix(deps): update module github.com/aws/aws-sdk-go to v1.46.1 (#392)
  go.mod
  go.sum
Labels: area/go-mod-sum

chore(deps): update aws-actions/configure-aws-credentials action to v4 (#395)
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update goreleaser/goreleaser-action action to v5 (#396)
  .github/workflows/goreleaser.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 74483a3
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update renovatebot/github-action action to v39.1.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(deps): update module github.com/aws/aws-sdk-go to v1.46.6
  go.mod
  go.sum
Labels: area/go-mod-sum

fix(deps): update module github.com/google/uuid to v1.4.0
  go.mod
  go.sum
Labels: area/go-mod-sum

fix(deps): update module github.com/l50/goutils/v2 to v2.1.5
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles, area/go-mod-sum

chore(deps): update actions/checkout action to v4
  .github/workflows/codeql-analysis.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 74483a3 (#400)
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update renovatebot/github-action action to v39.1.1 (#401)
  .github/workflows/renovate.yaml
Labels: area/github

fix(deps): update module github.com/aws/aws-sdk-go to v1.46.6 (#402)
  go.mod
  go.sum
Labels: area/go-mod-sum

chore(deps): update actions/checkout action to v4 (#405)
  .github/workflows/codeql-analysis.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/tests.yaml
Labels: area/github

fix(deps): update module github.com/aws/aws-sdk-go to v1.46.7
  go.mod
  go.sum
Labels: area/go-mod-sum

fix(deps): update module github.com/google/uuid to v1.4.0
  go.mod
  go.sum
Labels: area/go-mod-sum

fix(deps): update module github.com/l50/goutils/v2 to v2.1.5
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles, area/go-mod-sum

fix(deps): update module github.com/aws/aws-sdk-go to v1.46.7 (#407)
  go.mod
  go.sum
Labels: area/go-mod-sum

Upgrade to go1.21
  .github/workflows/goreleaser.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
  go.mod
  go.sum
  magefiles/go.mod
Labels: area/github, area/magefiles, area/go-mod-sum

Gave instances used for testing a clearer name
  .github/workflows/tests.yaml
Labels: area/github

fix(deps): update module github.com/google/uuid to v1.4.0
  go.mod
  go.sum
Labels: area/go-mod-sum

fix(deps): update module github.com/l50/goutils/v2 to v2.1.5
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles, area/go-mod-sum

fix(deps): update module github.com/google/uuid to v1.4.0 (#411)
  go.mod
  go.sum
Labels: area/go-mod-sum

Update doc template and generated docs
  dynamo/README.md
  ec2/README.md
  go.sum
  iam/README.md
  magefiles/go.mod
  magefiles/go.sum
  magefiles/magefile.go
  magefiles/tmpl/README.md.tmpl
  s3/README.md
  secretsmanager/README.md
  ssm/README.md
Labels: area/magefiles, area/go-mod-sum

Removed failing mage utility
  go.sum
  magefiles/go.mod
  magefiles/go.sum
  magefiles/magefile.go
Labels: area/magefiles, area/go-mod-sum

Updated awsutils README
  README.md
Labels: none

chore(deps): update returntocorp/semgrep-action digest to 713efdd
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update dependency golang to v1.21.4
  .tool-versions
Labels: area/asdf

fix(deps): update module github.com/aws/aws-sdk-go to v1.48.0
  go.mod
  go.sum
Labels: area/go-mod-sum
