Repository l50/awsutils, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/dynamo, area/secretsmanager, area/ssm, area/ec2, area/s3, area/magefiles, area/go-mod-sum

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/pre-commit:
  - changed-files:
      - any-glob-to-any-file: .pre-commit-config.yaml
      - any-glob-to-any-file: .hooks/**/*

area/dynamo:
  - changed-files:
      - any-glob-to-any-file: "dynamo/*.go"

area/secretsmanager:
  - changed-files:
      - any-glob-to-any-file: "secretsmanager/*.go"

area/ssm:
  - changed-files:
      - any-glob-to-any-file: "ssm/*.go"

area/ec2:
  - changed-files:
      - any-glob-to-any-file: "ec2/*.go"

area/s3:
  - changed-files:
      - any-glob-to-any-file: "s3/*.go"

area/magefiles:
  - changed-files:
      - any-glob-to-any-file: "magefiles/*"

area/go-mod-sum:
  - changed-files:
      - any-glob-to-any-file: "go.mod"
      - any-glob-to-any-file: "go.sum"

Fixed secret value for goreleaser; update mage go mods
  .github/workflows/goreleaser.yaml
  magefiles/go.mod
  magefiles/go.sum
Labels: area/github, area/magefiles

Refactored AWS EC2 utility functions and relocated tests.
  ec2/README.md
  ec2/ec2.go
  ec2/ec2_test.go
  ec2/network.go
  ec2/network_test.go
  go.mod
  go.sum
  magefiles/go.sum
Labels: area/ec2, area/magefiles, area/go-mod-sum

Refactored AWS EC2 utility functions and relocated tests. (#507)
  ec2/README.md
  ec2/ec2.go
  ec2/ec2_test.go
  ec2/network.go
  ec2/network_test.go
  go.mod
  go.sum
  magefiles/go.sum
Labels: area/ec2, area/magefiles, area/go-mod-sum

Fixed case inconsistency in ListSubnetsForVPC
  .gitignore
  ec2/README.md
  ec2/network.go
  ec2/network_test.go
  go.sum
Labels: area/ec2, area/go-mod-sum

Fixed case inconsistency in ListSubnetsForVPC (#508)
  .gitignore
  ec2/README.md
  ec2/network.go
  ec2/network_test.go
  go.sum
Labels: area/ec2, area/go-mod-sum

Fixed renovate config errors
  .github/renovate.json5
Labels: area/github

Fixed renovate config errors
  .github/renovate.json5
Labels: area/github

Fixed incorrect validation in ListSubnetsForVPC
  ec2/network.go
Labels: area/ec2

Enhanced EC2 utility functions with improved error handling and documentation.
  ec2/README.md
  ec2/network.go
  ec2/network_test.go
  go.sum
Labels: area/ec2, area/go-mod-sum

Enhanced EC2 utility functions with improved error handling and documentation. (#514)
  ec2/README.md
  ec2/network.go
  ec2/network_test.go
  go.sum
Labels: area/ec2, area/go-mod-sum

Moved code into network.go
  ec2/ec2.go
  ec2/ec2_test.go
  ec2/network.go
  ec2/network_test.go
Labels: area/ec2

Update meta-labeler action
  .github/workflows/meta-labeler.yaml
Labels: area/github

Moved code into network.go (#515)
  .github/workflows/meta-labeler.yaml
  ec2/ec2.go
  ec2/ec2_test.go
  ec2/network.go
  ec2/network_test.go
Labels: area/github, area/ec2

Expanded TestGetSubnetID to include different subnet locations
  ec2/network_test.go
Labels: area/ec2

Add default VPC test
  ec2/network_test.go
Labels: area/ec2

Fixed logic that returned an error if a private subnet was input
  ec2/network.go
Labels: area/ec2

Fixed logic that returned an error if a private subnet was input (#516)
  ec2/network.go
Labels: area/ec2

Enhanced subnet classification logic in AWS utility functions.
  ec2/network.go
  ec2/network_test.go
Labels: area/ec2

Refactored AWS EC2 utility functions for improved subnet classification.
  ec2/network.go
Labels: area/ec2

Fixed oversight in IsSubnetPublic
  ec2/network.go
  go.sum
Labels: area/ec2, area/go-mod-sum

Updated go.sum files
  go.sum
  magefiles/go.sum
Labels: area/magefiles, area/go-mod-sum

Initial working implementation
  go.mod
  go.sum
  iam/iam.go
  iam/iam_test.go
Labels: area/go-mod-sum

Refactor AWS IAM Go code and tests
  iam/iam.go
  iam/iam_test.go
Labels: none

Fixed naming that causes stuttering
  iam/iam.go
Labels: none

Moved magefile repo root; created templates directory
  go.mod
  go.sum
  iam/README.md
  magefile.go
  magefiles/README.md
  magefiles/go.mod
  magefiles/go.sum
  templates/README.md.tmpl
Labels: area/magefiles, area/go-mod-sum

Fixed bug in s3_test
  go.mod
  go.sum
  s3/s3_test.go
Labels: area/s3, area/go-mod-sum

Update go mods
  go.mod
  go.sum
Labels: area/go-mod-sum

Update go mods
  go.mod
  go.sum
Labels: area/go-mod-sum

Removed redundant check in prettier hook
  .hooks/prettier.sh
  .pre-commit-config.yaml
Labels: area/pre-commit
